.about-page {
    .sc_layouts_title_caption {
        background-color: rgb(15 129 16);
        color: aliceblue;
        text-align: center;

        padding: 7%;
        font-size: 20px;


    }

    .sc_layouts_title_caption h1 {
        background-color: rgb(15 129 16);
        color: aliceblue;
        text-align: center;


        font-size: 50px;
    }



    .products {
        margin-left: -50rem;
    }

    .products h3 {
        text-align: center;
        margin-bottom: 0.14em;
        color: rgb(255, 255, 255);
        line-height: 2.59rem;
        margin-top: 10rem;
        margin-right: -50rem;
        font-size: xx-large;
    }

    .products p {
        text-align: center;
        font-family: cursive;
        color: #2dd733;
        margin-right: -50rem;
    }

    .work {
        text-align: center;
        color: #ffffff;
        margin-right: 1rem;

    }

    .will image.logo {
        width: 50rem;
    }

    .logo {

        width: 100%;
        margin-top: 8rem;
        border: 5px double transparent;
        background-image: linear-gradient(rgb(10, 7, 49), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(117, 255, 142), rgb(162, 119, 255));
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }


    .mm {
        display: inline-block;
        color: #ffffff;
        background: rgb(15 129 16);
        padding: 15px;
        margin-left: 9rem;
        font-weight: 500;
        line-height: 24px;
        border-radius: 10px;

        transition: ease .40s;
        text-decoration: none;


    }


    .best h1 {
        padding-bottom: 2px;
        margin-left: 40rem;
        font-size: 3.5rem;
        padding: 0rem;

        color: #ffffff;
        margin-top: 15rem;



    }

    .best p {
        padding-bottom: 2px;
        margin-left: 54rem;

        padding: 0rem;

        color: #ffffff;
        margin-top: 0rem;
        font-family: cursive;
    }

    .back-logo {
        width: 100%;
        height: 40rem;
        margin-top: 20rem;
    }

    .back h1 {
        margin-top: -25rem;
        margin-left: 50rem;
        font-family: cursive;
        color: rgb(0, 0, 0);
    }

    .back p {
        margin-top: 0rem;
        margin-left: 55rem;
        font-family: cursive;
        color: rgb(2, 2, 1);
    }



    .shop-now:hover {
        transform: scale(1.1);
    }

    .view {
        position: relative;
        text-align: center;
        margin-top: 5rem;

        .background-text {
            width: 30%;
            height: 80%;
            background-color: #ffffff;
            position: absolute;

            div.text {
                position: relative;
            }

        }

        .lgo {
            width: 100%;
        }

        .titel {
            font-size: xxx-large;
            position: absolute;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .script {
            position: absolute;

            top: 59%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }



    .grown {
        text-decoration: none;
        display: inline-block;
        color: #ffffff;
        background: rgb(0, 0, 0);
        line-height: 24px;
        border-radius: 10px;
        font-family: inherit;
        transition: ease .40s;
        position: absolute;

    }



    .button-shop {
        text-decoration: none;
        background: rgb(15, 129, 16);
        padding: 15px;
        color: #ffffff;
        border-radius: 10px;
        transition: ease 0.4s;
    }

    .button-shop:hover {

        transform: scale(1.1);
    }

    .shop {
        margin-bottom: 5rem !important;
    }

    .letter {
        border: 10px double transparent;
        background-image: linear-gradient(rgb(255, 255, 255), rgb(249, 249, 249)), radial-gradient(circle at left top, #C33764, #1D2671, #8e54e9);
        background-origin: border-box;
        background-origin: border-box;
        background-clip: padding-box, border-box;
        animation: gradient 15s ease infinite;
        background-size: 400%;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        margin-left: 30rem;
        margin-right: 30rem;
        border-radius: 50px;
        padding: 1%;
    }

    .letter h3 {
        font-size: 40px;
        color: #0f0f0f;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }

    .letter p {
        font-size: 20px;
        border-radius: 0%;
        color: #000000;
        justify-content: center;
        margin-left: 100px;
    }

    li {
        list-style-type: none;
    }

    .text-letter {
        font-size: 2.5rem;
        position: relative;
        width: max-content;
    }

    .text-letter:before,
    .text-letter:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .text-letter::before {
        background-color: white;
        animation: typewriter 1.5s steps(10) alternate infinite;
    }

    .text-letter::after {
        width: .125rem;
        background-color: black;
        animation:
            typewriter 1.5s steps(15) alternate infinite,
            blink 500ms steps(15) infinite;
    }

    @keyframes typewriter {
        to {
            left: calc(100% + 1ch);
        }
    }

    @keyframes blink {
        to {
            background: transparent;
        }
    }

    .input-email {
        width: 70%;
        padding: 10px 30px 10px;
        border: 2px solid #ccc;
        border: 5px solid #000000;
        border-radius: 15px;
        box-sizing: border-box;
        resize: vertical;
        margin-top: 3.2%;
        margin-bottom: 1px;
        margin-right: 20px;

    }

    .input-submit {
        display: flex;
        border: 10px double transparent;
        background-image: linear-gradient(rgb(255, 255, 255), rgb(249, 249, 249)), radial-gradient(circle at left top, #C33764, #1D2671, #8e54e9);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        animation: gradient 15s ease infinite;
        background-size: 400%;
        padding-left: 1em;
        padding-right: 2em;
        border-radius: 15px;
        margin-top: 3.2%;
        margin-bottom: 1px;
        margin-right: 20px;
        margin-left: auto;
    }


    @media screen and (max-width: 480px) {

        .logo {
            width: 100%;
        }

        .products h3 {

            font-size: 30px;
            margin-top: 7rem;

        }

        .work {
            font-size: 15px;
        }

        .mm {
            display: inline-block;
            color: #ffffff;
            background: rgb(15, 129, 16);
            padding: 6px;
            font-size: 10px;
            margin-left: 130px;

        }

        .call-to-action {
            padding-bottom: 0rem;
        }

        .shop {
            font-size: 18px;
            padding: 1rem;
            margin-top: -10rem;
            background-color: #2e4c2e9e;
        }

        .button-shop {
            display: inline-block;
            color: #ffffff;
            background: rgb(15, 129, 16);
            padding: 6px;
            font-size: 10px;
            margin-bottom: 3rem;
        }

        .contact-page .letter {
            font-size: 12px;
            margin-left: 9px;
            margin-right: 9px;
            margin-top: 10%;
            
        }
        .ncontact {
            font-size: 28px;
        }

        .provide h3 {
            font-size: 24px;
            margin-left: 16px;
        }

        .provide {
            margin-left: 0%;
            margin-right: 0%;
        }

        .icon {
            margin-left: -8rem;
        }

        .col {
            font-size: 16px;
        }

        .letter {
            font-size: 12px;
            margin-left: 9px;
            margin-right: 9px;
            margin-top: 10%;
            border: 5px double transparent;
        }

        .letter h3 {
            font-size: 20px;
            margin-left: 100px;

        }

        .letter p {
            margin-left: 9px;
            font-size: 20px;
        }

        .input-email .input-submit {
            margin-left: 2px;
        }
        .input-submit{
            border: 5px double transparent;
            
         }
    
    }
     

}