.about-page {
    .sc_layouts_title_caption {
        background-color: rgb(15 129 16);
        color: aliceblue;
        text-align: center;

        padding: 7%;
        font-size: 20px;


    }

    .sc_layouts_title_caption h1 {
        background-color: rgb(15 129 16);
        color: aliceblue;
        text-align: center;


        font-size: 50px;
    }



    .products {
        margin-left: -50rem;
    }

    .products h3 {
        text-align: center;

        font-size: 2.235rem;
        font-weight: 700;
        font-style: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0px;
        margin-bottom: 0.14em;

        color: rgb(0, 0, 0);
        line-height: 2.59rem;
        margin-top: 10rem;
        margin-right: -50rem;
        text-shadow: -2px -2px 2px rgb(0 255 162), 2px 2px 1px #b224ef;
    }

    .products p {
        text-align: center;
        font-family: cursive;
        color: #ff4747;
        margin-right: -50rem;
    }

    .work {
        text-align: center;
        color: #ffffff;
        margin-right: 1rem;

    }

    .will image.logo {
        width: 50rem;
    }

    .logo {
        text-align: center;
        width: 40rem;
        margin-top: 10rem;
        margin-left: 5rem;
        box-shadow: 5px 5px 38px #b500a2;
    }


    .mm {
        display: inline-block;
        color: #ffffff;
        background: rgb(15 129 16);
        padding: 15px;
        margin-left: 9rem;
        font-weight: 500;
        line-height: 24px;
        border-radius: 10px;

        transition: ease .40s;
        text-decoration: none;


    }

    // .mm:hover {
    //     transform: scale(1.1);
    // }

    .best h1 {
        padding-bottom: 2px;
        margin-left: 40rem;
        font-size: 3.5rem;
        padding: 0rem;

        color: #ffffff;
        margin-top: 15rem;



    }

    .best p {
        padding-bottom: 2px;
        margin-left: 54rem;

        padding: 0rem;

        color: #ffffff;
        margin-top: 0rem;
        font-family: cursive;
    }

    .back-logo {
        width: 100%;
        height: 40rem;
        margin-top: 20rem;
    }

    .back h1 {
        margin-top: -25rem;
        margin-left: 50rem;
        font-family: cursive;
        color: rgb(0, 0, 0);
    }

    .back p {
        margin-top: 0rem;
        margin-left: 55rem;
        font-family: cursive;
        color: rgb(2, 2, 1);
    }



    .shop-now:hover {
        transform: scale(1.1);
    }

    .view {
        position: relative;
        text-align: center;
        margin-top: 5rem;

        .background-text {
            width: 30%;
            height: 80%;
            background-color: #ffffff;
            position: absolute;

            div.text {
                position: relative;
            }

        }

        .lgo {
            width: 100%;
        }

        .titel {
            font-size: xxx-large;
            position: absolute;

            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .script {
            position: absolute;

            top: 59%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }



    .grown {
        text-decoration: none;
        display: inline-block;
        color: #ffffff;
        background: rgb(0, 0, 0);
        line-height: 24px;
        border-radius: 10px;
        font-family: inherit;
        transition: ease .40s;
        position: absolute;

    }

    .call-to-action {
        background: url("../../public/images/product/product12.jpg") no-repeat center;
        background-size: cover;
        padding-top: 9rem;
        padding-bottom: 20rem;
        margin-top: 10rem;
        margin-bottom: 5rem;

    }

    .button-shop {
        text-decoration: none;
        background: rgb(15, 129, 16);
        padding: 15px;
        color: #ffffff;
        border-radius: 10px;
        transition: ease 0.4s;
    }

    .button-shop:hover {

        transform: scale(1.1);
    }

    .shop {
        margin-bottom: 5rem !important;
    }



    @media screen and (max-width: 480px) {
        .logo {
            margin-top: 1rem;
            margin-left: 14px;
            max-width: 20rem;
        }

        .products h3 {
            margin-top: 2rem;
        }

        .work {
            font-size: 15px;
        }

        .mm {
            display: inline-block;
            color: #ffffff;
            background: rgb(15, 129, 16);
            padding: 6px;
            font-size: 10px;
            margin-left: 130px;

        }

        .call-to-action {
            padding-bottom: 0rem;
        }

        .shop {
            font-size: 18px;
            padding: 1rem;
            margin-top: -10rem;
            background-color: #2e4c2e9e;
        }

        .button-shop {
            display: inline-block;
            color: #ffffff;
            background: rgb(15, 129, 16);
            padding: 6px;
            font-size: 10px;
            margin-bottom: 3rem;
        }
    }

}