.box-Container-address{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    
}

.Container-address{
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px;
    background: #ffffff;
    border: 10px solid #000000;
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}

.box-address-left{
    width: 49%;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 30px;
}
.box-address-right{
    width: 50%;
    float: right;
}

.input-address{
    box-sizing: border-box;
    width: 100%;
    padding: 0 35px 0 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    height: 40px;
}

.btu-address{
    font-size: 300px;
    line-height: 1.2;
    font-size: 16px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 120px;
    height: 50px;
    border-radius: 25px;
    margin-top: 20px;
    color: #000000;
    text-shadow: 1px 2px 1px rgb(0, 255, 162);
    border-bottom: 5px solid rgba(0, 0, 0, 1);
}
.box-btu-address{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-right: 20px;
}

