.contact-page {

    /* ------------ title ------------------ */
    .ncontact {
        justify-content: center;
        color: #FFFFFF;
        text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
        text-align: center;
        font-style: normal;
        font-size: 40px;
        font-weight: 400;
        padding: 5.5%;
        margin-top: 0px;
    
    }

  .provide {
        margin-left: 5em;
        margin-right: 65rem;
        color: #FFFFFF;
        text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;

    }

    .provide h3 {
        text-align: center;
        font-size: 46px;
        font-weight: 700;
        font-style: normal;
        cursor: pointer;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0px;
        margin-bottom: 0.20em;
        line-height: 2.59rem;
        margin-top: 2rem;
    }
    .provide p {
        text-align: center;
        text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
    }

    .provide:hover {
        text-shadow: -2px -2px 3px rgb(0, 255, 30), -4px -3px 4px rgb(228, 244, 52), 4px 3px 2px #f33838;
    }
    /* ------------ sub title------------------- */
    .bgbody {
        background-color: #ccc;
    }



    /* ------------ icon brand------------------- */

    .text-icon {
        font-size: 22px;
        font-weight: 700;
        transition-duration: none;
        .icon {
            .row {
                font-size: 23px;
            }

            a {
                color: #FFFFFF;
                text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
                font-size: 23px;
                margin-left: 5.5em;
                margin-top: 2%;

                &:hover {
                   
                   
                }
            }
            .icon-svg {
                max-width: fit-content !important;
                color: #FFFFFF;
                text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;

                &:hover {
                    box-shadow: -2px -2px 3px rgb(0, 255, 30), -4px -3px 4px rgb(228, 244, 52), 4px 3px 2px #f33838;
                }
            }
        }
    }

    /* ------------ Map ------------------- */
    .map {

        margin-left: 2.5%;
        margin-right: 9.5%;
    }

    .map {
        background-color: rgb(255, 255, 255);
        border: 10px solid #000000;
        box-shadow: -6px 4px 4px #0bdd43, 6px 4px 3px rgb(240, 224, 47);
    }

    /* ------------ letter ------------------- */
    .letter {
        background-color: rgb(255, 255, 255);
        border: 15px solid #000000;
        box-shadow: -6px 4px 2px #0bdd43, 6px 4px 3px rgb(240, 47, 47);
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 50px;
        padding: 1%;
    }

    .letter h3 {
        font-size: 40px;
        color: #0f0f0f;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }

    .letter p {
        font-size: 20px;
        border-radius: 0%;
        color: #000000;
        justify-content: center;
        margin-left: 100px;
    }

    li {
        list-style-type: none;
    }

    .text-letter {
        font-size: 2.5rem;
        position: relative;
        width: max-content;
    }

    .text-letter:before,
    .text-letter:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .text-letter::before {
        background-color: white;
        animation: typewriter 1.5s steps(8) alternate infinite;
    }

    .text-letter::after {
        width: .125rem;
        background-color: black;
        animation:
            typewriter 1.5s steps(8) alternate infinite,
            blink 500ms steps(8) infinite;
    }

    @keyframes typewriter {
        to {
            left: calc(100% + 1ch);
        }
    }

    @keyframes blink {
        to {
            background: transparent;
        }
    }

    .input-email {
        width: 70%;
        padding: 10px 30px 10px;
        border: 1px solid #ccc;
        border: 5px solid #000000;
        border-radius: 15px;
        box-sizing: border-box;
        resize: vertical;
        margin-bottom: 1px;
    }

    .input-submit {
        border: 10px solid #000000;
        box-shadow: -3px 3px 2px rgb(9, 255, 0), 6px 6px 1px #b224ef;
        padding-left: 1em;
        padding-right: 2em;
        border-radius: 15px;
        margin-left: 3px;
    }

    /* ------------ footer------------------- */
    .footer {
        /* background: linear-gradient(-45deg, #000000, #190e12, #562071, #a0ddce);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite; */
        margin-top: 5%;
    }

    .footer p {
        color: #050505;
        text-align: center;
        font-size: 60px;
        font-weight: 500;
        font-style: normal;
        font-size: 25px;
        padding: 7%;

    }
   //-------responsive---------//
    @media screen and (max-width: 480px){
        .ncontact{
            font-size: 28px;
        }
        .provide h3{
            font-size: 24px;
            margin-left: 16px;
        }
        .provide{
            margin-left: 0%;
            margin-right: 0%;
        }
        .icon{
            margin-left: -8rem;
        }
        .col{
            font-size: 16px;
        }
        .letter{
            font-size: 12px;
            margin-left: 9px;
            margin-right: 9px;
            margin-top: 10%;
        }
        .letter h3 {
            font-size: 12px;
            margin-left: 9px;
            
        }
        .letter p {
            margin-left: 9px;
            font-size: 12px;  
        }
        .input-email .input-submit{
            margin-left: 2px;
        }

    }
}
