/* ------------ title title------------------- */
.contact {
    justify-content: center;
    /* background: linear-gradient(#008a0d, #00b800); */
    text-shadow: -2px -2px 2px rgb(157, 0, 255), 2px 2px 1px #2eef24;
    text-align: center;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
    padding: 5.5%;
    margin-top: 0px;

}

/* ------------ text title------------------- */
.body {
    background-color: #ffffff;
}

.provide {
    margin-left: 5em;
    margin-right: 65rem;
}

.provide h3 {
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
    margin-bottom: 0.20em;
    text-shadow: -2px -2px 2px rgb(0 255 162), 2px 2px 1px #b224ef;
    line-height: 2.59rem;
    margin-top: 5rem;
}

.provide p {
    text-align: center;
    color: #040404;
}

/* ------------ icon brand------------------- */
.icon p {
    text-align: left;
    font-weight: 500;
    color: #000000;
    margin-left: 7em;
    margin-top: 2%;
}

.a {
    text-decoration: none;
    color: #000000;
    box-shadow: -1px -2px 2px rgb(9, 255, 0), 3px 2px 1px #b224ef;
    margin-right: 1rem;
    margin-left: 1.5em;
    font-size: 20px;

}

/* ------------ Map ------------------- */
.map {
    margin-left: 10%;
    margin-right: 20%;
}

/* ------------ letter ------------------- */
.letter {
    border: 15px solid #000000;
    box-shadow: -10px -6px 2px rgb(9, 255, 0), 6px 6px 1px #b224ef;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 50px;
    padding: 1%;
}

.letter h3 {
    font-size: 40px;
    color: #0f0f0f;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.letter p {
    font-size: 20px;
    border-radius: 0%;
    color: #000000;
    justify-content: center;
    margin-left: 100px;
}

.input-email {
    width: 70%;
    padding: 10px 30px 10px;
    border: 1px solid #ccc;
    border: 5px solid #000000;
    border-radius: 15px;
    box-sizing: border-box;
    resize: vertical;
}

.input-submit {
    border: 10px solid #000000;
    box-shadow: -3px 3px 2px rgb(9, 255, 0), 6px 6px 1px #b224ef;
    padding-left: 1em;
    padding-right: 2em;
    border-radius: 15px;
    margin-left: 3px;
}

/* ------------ footer------------------- */
.footer {
    background-color: rgb(255, 255, 255);
    margin-top: 150px;
}

.footer p {
    color: #050505;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    padding: 7%;

}