
    /* ------------ title title------------------- */
    .ncontact {
        justify-content: center;
        color: #000000;
        text-align: center;
        font-style: normal;
        font-size: 40px;
        font-weight: 400;
        padding: 5.5%;
        margin-top: 0px;
    
    }
    
    /* ------------ text title------------------- */
    .bgbody {
        background-color: #ccc;
    }
    
    .provide {
        margin-left: 5em;
        margin-right: 65rem;
    
    }
    
    .provide h3 {
        text-align: center;
        font-size: 46px;
        font-weight: 700;
        font-style: normal;
        cursor: pointer;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 0px;
        margin-bottom: 0.20em;
        color: #040404;
        line-height: 2.59rem;
        margin-top: 5rem;
    }
    
    .provide p {
        text-align: center;
        color: #040404;
    }
    
    .provide:hover {
        text-shadow: -2px -2px 2px rgb(0 255 162), 2px 2px 1px #b224ef;
    
    }
    
    /* ------------ icon brand------------------- */
/* .text-icon .a,.text-icon .a svg  {
        text-decoration: none;
        color: #000000;
        margin-right: 1rem;
        margin-left: 1.5em;
        font-size: 20px;
    
    }
    

    
    .text-icon {
        margin-left: 7em;
        margin-top: 2%;
    }
    
.text-icon .a,.text-icon .a svg  {
        text-align: left;
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
        font-weight: 500;
        color: #000000;
    }
    .text-icon .a:hover,.text-icon .a svg:hover  {
        text-shadow: -2px -2px 2px rgb(0 255 162), 2px 2px 1px #b224ef;
    } */
    
    /* ------------ Map ------------------- */
    .map {
        margin-left: 10%;
        margin-right: 20%;
    } 
    .map {
        background-color: rgb(255, 255, 255);
        border: 10px solid #000000;
        box-shadow: -6px 4px 2px rgb(23, 25, 22), 6px 6px 1px #3ac94d;
    }
    
    /* ------------ letter ------------------- */
    .letter {
        background-color: rgb(255, 255, 255);
        border: 15px solid #000000;
        box-shadow: -6px 4px 2px rgb(9, 255, 0), 6px 6px 1px #b224ef;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 50px;
        padding: 1%;
    }
    
    .letter h3 {
        font-size: 40px;
        color: #0f0f0f;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }
    
    .letter p {
        font-size: 20px;
        border-radius: 0%;
        color: #000000;
        justify-content: center;
        margin-left: 100px;
    }
    
    .input-email {
        width: 70%;
        padding: 10px 30px 10px;
        border: 1px solid #ccc;
        border: 5px solid #000000;
        border-radius: 15px;
        box-sizing: border-box;
        resize: vertical;
    }
    
    .input-submit {
        border: 10px solid #000000;
        box-shadow: -3px 3px 2px rgb(9, 255, 0), 6px 6px 1px #b224ef;
        padding-left: 1em;
        padding-right: 2em;
        border-radius: 15px;
        margin-left: 3px;
    }
    
    /* ------------ footer------------------- */
    .footer {
        /* background: linear-gradient(-45deg, #000000, #190e12, #562071, #a0ddce);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite; */
        margin-top: 150px;
    }
    
    .footer p {
        color: #050505;
        text-align: center;
        font-size: 60px;
        font-weight: 500;
        font-style: normal;
        font-size: 25px;
        padding: 7%;
    
    }
