.header-area {
    background-color: rgb(233, 54, 244);
    height: 6rem;
    transition: all 0.5s ease 0s;
    border-bottom: 3px solid black;
}

.header-area-scroll {
    background-color: rgb(233, 54, 244);
    height: 6rem;
    transition: all 0.5s ease 0s;
    border-bottom: 3px solid black;
    height: 5rem;
}

.nav-link {
    font-size: x-large;
    color: #FFFFFF;

    .n-active {
        color: #FFFFFF;
        text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;

    }
}

.nav-link .active {
    position: absolute;
}

.topNavbar {
    justify-content: space-between;
}

.topNavbar-red {
    padding: 1rem;
    background: #300600;
    background: linear-gradient(360deg, #300600 0%, #ef5440 30%, #ef5440 100%);
}

.topNavbar-yellow {
    padding: 1rem;
    background: #242400;
    background: linear-gradient(360deg, #242400 0%, #fed308 30%, #fed308 100%);
}

.topNavbar-green {
    padding: 1rem;
    background: #002000;
    background: linear-gradient(360deg, #002000 0%, #129c4f 30%, #129c4f 100%);
}

.w-40 {
    width: 40%;
}

.w-20 {
    width: 20%;
}

.nav-link:hover .active,
.nav-link:focus .active,
.nav-link.active .active {
    background: linear-gradient(#ee5441, #ee5441, #fed406, #009b4e, #009b4e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/* @media only screen and (min-width: 992px) {
    .left-menu{
        margin-right: 10rem;
    }
    
    .right-menu{
        margin-left: 10rem;
    }
} */