.product-page{

// .backgroundpage {
//   background: rgb(204, 81, 177);
// }
h1, .h1{
  font-size: 2.5rem;
  color: blanchedalmond;
}
  .input-group-rounded{
    text-shadow: -6px -6px 2px rgb(0 255 162), 6px 6px 1px #b224ef;
  }
  
  .card {
      box-shadow: 0 4px 8px 0 rgba(6, 122, 11, 0.719);
      transition: 0.3s;
      width: 100%;
      height: 100px;
      border-radius: 5px;
      margin-top: 2em;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(206, 44, 3, 0.801);
    }
    
    .img {
      border-radius: 5px 5px 0 0;
      height: 60px;
    }
  
    .title {
      color: rgb(236, 236, 236);
      font-size: 70px;
      text-align: center;
      padding: 7%;
    }
  
    .p1 {
      
      color: rgb(255, 255, 255);
      text-align: center;
      
    }
  
    .btn {
      background: rgb(7, 184, 30);
      color: black;
      transition-duration: 0.4s;
      cursor: pointer;
      padding-bottom: 0;
    }
    .btn:hover {
          background-color: #def186;
        }
  
    .foot {
      width: 100%;
      height: 25px;
      background-color: rgb(40, 41, 39);
      background-size: cover;
      background-repeat: no-repeat;
      color: aliceblue;
      text-align: center;
      padding: 4%;
      font-size: 18px;
    }
  }