.product-show{
    /*reset*/
    * {
         margin: 0;
        padding: 0;
    }
/*main*/

/* right */
.search {
    .search{
    font-size: 18px;
    width:250px;
    border: 3px double transparent;
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at left top, #C33764, #1D2671,#8e54e9);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
}

.typelist {
    padding: 1rem;
    width: 90%;
    margin-top: 10px;
    border: 7px double transparent;
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at left top, #C33764, #1D2671,#8e54e9);
    background-origin: border-box;
    background-clip: padding-box, border-box;
     
        h4 {
            color: #1a401e;
        }
            
        li > *{
            color: #1a401e;;
            text-decoration:none;
        }
    
    
}
        
    
}
