.products-show-detail{

    // reset
*{
    padding: 0;
    // margin-left: 2rem;
    box-sizing: border-box;
}

// main content
h2 {
    font-size: 24px;
    color: rgb(103, 165, 103);
    text-transform: uppercase;
}
h5 {
    
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
}
h3 {
    font-size: 20px;
}
.container {
    width: 100%;
    
}
.box {
    max-width: 300px;
    padding: 10px;
    border: 3px double transparent;
    background-image: linear-gradient(rgb(10, 7, 49), rgb(13, 14, 33)),radial-gradient(circle at left top, rgb(117, 255, 142), rgb(162, 119, 255));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin: 10px auto;

    img {
        width: 250px;
        height: 300px;
        display: block;
        object-fit: cover;
        margin-left: 20px;
        margin-top: 30px;
    }
    figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    figure:hover img {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }
    .product-detail {
        width: 100%;
        margin-top: 10px;
        min-width: 300px;
        
    }
}
h5, h3,.p-amount, .shipping-rates,.stars-rating, .foot   {
    text-transform: uppercase;
    color: aliceblue;
    &:hover {
        color: #00d7a1;
        cursor: pointer;
      }
}
.p-amount{
        display: inline-block;
        margin-right: 25px;
        margin-top: 20px;
        font-weight: 500;
        font-size: 11px;
}
.shipping-rates,.stars-rating, .foot {
    margin: 1rem 0;
}
.foot{
    margin-right: 1rem;
}


/*responsive Box detail*/
 @media (min-width: 700px) {
     .container {
         display: flex;
         justify-content: space-around;
         align-items: center;
         flex-wrap: wrap;
     }
     .box {
         min-width: 700px;
         img {
             float: left;
         }
     }
     .box .product-detail {
         float: right;
         width: 50px;
     }
    
 }

}
// add-on
.add-on {
  width: 100%;
  margin-top: 20px;
  
.card{
  display: flex;
  width: 90%;
  margin-bottom: 20px;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  color: #ffffff;
  border: 3px double transparent;
  background-image: linear-gradient(rgb(10, 7, 49), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(117, 255, 142), rgb(162, 119, 255));
  background-origin: border-box;
  background-clip: padding-box, border-box;

  .card-header {
    background-color: rgba(0, 0, 0, 0.29);

    h3 {
      text-align: center;
      font-weight: 800;
      font-size: 20px;
    }
  }
  .card-img {
    height: 180px;
    object-fit: contain;
  }
}

.card-body {
  
  .details {
    h5 {
      font-size: 15px;
      margin-left: 10px;
    }
    h4 {
      font-size: 16px;
      color: rgb(255, 255, 255);
      margin-top: 5px;
      margin-left: 10px;
    }
  }

  ul {
    list-style-type: none;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 25px;
      margin-top: 20px;
      font-weight: 500;
      font-size: 11px;
    }
  }

  .bg {
    text-align: center;
    padding: 4px;
    margin-right: 20px;
    transition: 0.3s all ease;
    border-radius: 50%;

    &:hover {
      background-color: #00d7a1;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}

.card-footer {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.29);

  .foot {
    color: #ffffff;
    float: left;
    transition: 0.3s all ease;
    font-size: 12px;

    &:hover {
      color: #00d7a1;
      cursor: pointer;
    }
  }
}
}



