<<<<<<< HEAD
.product-page .type-card{background-color:#00d7a1}
=======
.product-page .product-list .card .card-body{color:red}.product-page .product-list .card .card-body ul{list-style-type:none}.product-page .product-list .card .card-body ul li{display:inline-block;margin-right:25px;color:#fff;margin-top:20px;font-weight:500;font-size:11px}
>>>>>>> 0ef3b2c5c614fa60f1a01e521b640dc6951e6fda
