.product-list {

  /*reset*/
  * {
    margin: 0;
    padding: 0;
  }

  /*main card*/

  .product-card {
    display: flex;
    margin-top: 50px;

    // box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.4);
    .left {
      content: "";
      height: 395px;
      width: 300px;
      display: flex;
      align-items: center;
      background-color: #00d7a1;
      border-radius: 0% 50% 50% 0%;
      position: absolute;
      z-index: 5;
    }

    .left .img-product {
      margin-left: -40px;
      width: 300px;
      height: auto;
      transition: transform .1s ease-in-out;

      &:hover {
        transform: rotate(5deg);
      }
    }

    .right {
      content: "";
      height: 395px;
      width: 550px;
      background-color: #2a2f40;
      z-index: 3;
      margin-left: 100px;
    }

    .product-info {
      position: absolute;
      margin-left: 245px;
      height: 394px;
      width: 305px;
      z-index: 10;
    }
  }

  /*product info */
  h1 {
    color: #00d7a1;
    font-weight: bold;
    font-size: 22px;
    margin-top: 21px;
    display: inline-block;
  }

  h3 {
    color: #ffffff;
    margin-top: 84px;
    font-size: 20px;
    font-weight: 500;
  }

  h2 {
    color: #ffffff;
    margin-top: 10px;
    font-weight: 800;
    font-size: 29px;
  }

  h4 {
    display: inline-block;
    color: #ffffff;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
  }

  h5 {
    color: #ffffff;
    margin-top: 20px;
    font-size: 15px;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin-right: 25px;
  }

  ul li {
    color: #ffffff;
    margin-top: 20px;
    font-weight: 500;
    font-size: 11px;
  }

  .bg {
    width: 15px;
    height: 15px;
    text-align: center;
    padding: 2px;
    margin-right: 20px;
    transition: 0.3s all ease;
    border-radius: 50%;

    &:hover {
      background-color: #00d7a1;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
  }

  .foot {
    color: #ffffff;
    margin-top: 20px;
    margin-right: 50px;
    font-weight: 500;
    font-size: 11px;
    float: left;
    transition: 0.3s all ease;

    .icon:nth-child(1) {
      margin-left: 0;
      margin-right: 15px;
    }

    &:hover {
      color: #00d7a1;
      cursor: pointer;
    }
  }
}