.sign-user {
    // -------------Sign in-------------------//
    /* -------Si =Sign in---------- */
    /* -------Su =Sign up ---------- */
    /* -------Ad =Sign adress ---------- */

    .box-img {}

    .box-Container-Si {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }

    .Container-Si {

        width: 500px;
        border-radius: 10px;
        // overflow: hidden;
        padding: 55px 55px 37px;
        background: #ffffff;
        border: 5px solid #000000;
        /* background:-webkit-linear-gradient(top,#7ad8fb,#ffffff); */
        box-shadow: -6px -6px 2px #88ff00, 6px 6px 1px#105100;
        background: linear-gradient(-45deg, #35753e, #688b6c, #459e34, #35753e);
        animation: gradient 15s ease infinite;
        background-size: 400%;

    }

    /* -----End sign in------ */

    /* -----Sign up------ */

    .box-Container-Su {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }


    .Container-Su {
        width: 500px;
        border-radius: 10px;
        overflow: hidden;
        padding: 55px 55px 37px;
        background: #ffffff;
        border: 5px solid #000000;
        /* background:-webkit-linear-gradient(top,#7ad8fb,#ffffff); */
        box-shadow: -6px -6px 2px #88ff00, 6px 6px 1px#105100;
        background: linear-gradient(-45deg, #00471f, #70b678, #009161, #7dd06f);
        animation: gradient 15s ease infinite;
        background-size: 400%;
    }

    /* -----End Sign up------ */

    /* -----address------ */
    .box-Container-address {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }

    .Container-address {
        width: 70%;
        border-radius: 10px;
        overflow: hidden;
        padding: 55px 55px 37px;
        background: #ffffff;
        border: 5px solid #000000;
        // background:-webkit-linear-gradient(top,#7ad8fb,#ffffff);
        box-shadow: -6px -6px 2px #386a00, 6px 6px 1px#528833;
        background: linear-gradient(-45deg, #00471f, #70b678, #009161, #7dd06f);
        animation: gradient 15s ease infinite;
        background-size: 400%;
    }

    .box-address-left {
        width: 49%;
        float: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 30px;
    }

    .box-address-right {
        width: 50%;
        float: right;
    }

    .input-address {
        box-sizing: border-box;
        width: 100%;
        padding: 0 35px 0 10px;
        border: 1px solid #ddd;
        font-size: 18px;
        height: 50px;
    }


    .box-btu-address {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        margin-right: 20px;
    }

    /* -----End address------ */

    /* -------Sign in , Sign up ,address ---------- */

    .box-img {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
        width: 30%;
        transform: translate(-45%, -55%) translateZ(200px);
        filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
        animation: float 2s alternate ease-in-out infinite;
        transition: 0.65s;
    }

    .img-Si-Su {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        transform: translate(-45%, -55%) translateZ(200px);
        filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
        animation: float 2s alternate ease-in-out infinite;
        transition: 0.65s;
    }

    .title-Si-Su {
        font-size: 60px;
        color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        margin: 0 auto;
        // text-shadow: -2px -2px 2px #01600a, 2px 2px 1px #346815;
        /* text-shadow:  0 0 10px rgb(255, 255, 255), 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18,2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000; */

    }

    .input-Si-Su {
        font-size: 20px;
        color: rgb(0, 0, 0);
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 45px;
        background: 0 0;
        padding: 0 5px 0 38px;
        margin-top: 30px;
        outline: none;
        border: none;
        border-bottom: 5px solid rgba(0, 0, 0, 1);

    }

    .input-Si-Su::placeholder {
        color: rgb(0, 0, 0);
    }

    .btu-Si-Su-Ad {
        background-color: rgb(0, 0, 0);
        font-size: 300px;
        line-height: 1.2;
        font-size: 16px;
        line-height: 1.2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 120px;
        height: 50px;
        border-radius: 25px;
        margin-top: 20px;
        color: #ffffff;
        /* text-shadow: 1px 2px 1px rgb(0, 255, 162); */
        border-bottom: 5px solid rgba(0, 0, 0, 1);
    }

    .box-btu-Si-Su {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .text-Si-Su {
        color: #000;
        font-size: 20px;
        line-height: 1.5;
        margin-left: 10px;

    }

    .box-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 90px
    }


    /* -------End Sign in and Sign up ---------- */


    /* -----GRADIENT ANIMATOR------ */


    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    /* -----End GRADIENT ANIMATOR------ */
}


@keyframes float {
    0% {
        transform: translateX(calc(-45% - 5px)) translateY(calc(-55% - 5px)) translateZ(200px);
      }
    
      100% {
        transform: translateX(calc(-45% + 5px)) translateY(calc(-55% + 5px)) translateZ(400px);
      }
}