.sign-user {

    .topnav {
        width: 100%;
        overflow: hidden;
        display: flex;
        padding: 15px;
    }


    .btunav {
        margin: 0 auto;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 120px;
        height: 50px;
        border-radius: 25px;
        margin-top: 20px;
        color: #ffffff;
        border-bottom: 5px solid rgba(0, 0, 0, 1);

        border: 2px double transparent;
        background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
        background-origin: border-box;
        background-clip: padding-box, border-box;

        animation: gradient 15s ease infinite;
        background-size: 400%;

        &:hover {
            color: #6cef60;
            box-shadow: 0px 0px 15px 0px rgb(78, 23, 142);  
        }

    }



    // -------------Sign in-------------------//
    /* -------Si =Sign in---------- */
    /* -------Su =Sign up ---------- */
    /* -------Ad =Sign adress ---------- */



    .box-Container-Si {
        width: 100%;
        min-height: 50vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }

    .Container-Si {

        width: 500px;
        border-radius: 10px;

        padding: 30px 30px 20px;
        background: #ffffff;

        border: 10px double transparent;
        background-image: linear-gradient(rgb(36, 36, 36), rgb(36, 36, 36)), radial-gradient(circle at left top, #C33764, #1D2671, #8e54e9);
        background-origin: border-box;
        background-clip: padding-box, border-box;

        animation: gradient 15s ease infinite;
        background-size: 400%;
    }

    /* -----End sign in------ */

    /* -----Sign up------ */

    .box-Container-Su {
        width: 100%;
        display: flex;
        min-height: 50vh;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }


    .Container-Su {
        width: 500px;
        border-radius: 10px;
        overflow: hidden;
        padding: 30px 30px 20px;
        background: #ffffff;

        border: 10px double transparent;
        background-image: linear-gradient(rgb(39, 39, 39), rgb(39, 39, 39)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
        background-origin: border-box;
        background-clip: padding-box, border-box;

        animation: gradient 15s ease infinite;
        background-size: 400%;
    }

    /* -----End Sign up------ */

    /* -----address------ */
    .box-Container-address {
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        z-index: 1;
    }

    .Container-address {
        width: 70%;
        border-radius: 10px;
        overflow: hidden;
        padding: 55px 55px 37px;
        background: #ffffff;


        border: 10px double transparent;
        background-image: linear-gradient(rgb(39, 39, 39), rgb(39, 39, 39)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
        background-origin: border-box;
        background-clip: padding-box, border-box;

        animation: gradient 15s ease infinite;
        background-size: 400%;
    }

    .box-address-left {
        width: 49%;
        float: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 30px;
    }

    .box-address-right {
        width: 50%;
        float: right;
    }

    .input-address {
        box-sizing: border-box;
        width: 100%;
        padding: 0 35px 0 10px;
        border: 1px solid #ddd;
        font-size: 18px;
        height: 50px;
    }


    .box-btu-address {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: right;
        margin-right: 20px;
    }

    /* -----End address------ */

    /* -------Sign in , Sign up ,address ---------- */

    .box-img {
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
        width: 30%;
    }

    .img-Si-Su {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .title-Si-Su-Ad {
        font-size: 60px;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        margin: 0 auto;
    }

    .input-Si-Su {
        font-size: 20px;
        color: rgb(255, 255, 255);
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 45px;
        background: 0 0;
        padding: 0 5px 0 38px;
        margin-top: 30px;
        outline: none;
        border: none;
        border-bottom: 5px solid rgb(255, 255, 255);

    }

    .input-Si-Su::placeholder {
        color: rgb(255, 255, 255);
    }

    .btu-Si-Su-Ad {
        text-decoration: none;
        font-size: 16px;
        line-height: 1.2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        min-width: 120px;
        height: 50px;
        border-radius: 25px;
        margin-top: 20px;
        color: #ffffff;
        border-bottom: 5px solid rgba(0, 0, 0, 1);

        border: 2px double transparent;
        background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
        background-origin: border-box;
        background-clip: padding-box, border-box;

        animation: gradient 15s ease infinite;
        background-size: 400%;

        &:hover {
            color: #6cef60;
            box-shadow: 0px 0px 15px 0px rgb(78, 23, 142);  
        }


    }

    .box-btu-Si-Su {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .text-Ad {
        color: rgb(255, 255, 255);
        margin-top: 5px;

    }

    .text-Si-Su {
        color: rgb(255, 255, 255);
        font-size: 15px;
        line-height: 1.5;
    }

    .box-text {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
    }


    /* -------End Sign in and Sign up ---------- */


    /* -----GRADIENT ANIMATOR------ */


    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    /* -----End GRADIENT ANIMATOR------ */
}
