.logo-main{
    margin-left: 10rem;
    margin-right: 10rem;
}

.header-area{
    background-color: #222b21;
}

.font-menu{
    color: #019b4e;
    font-size: large;
    font-weight: 500;
}

.font-menu:hover{
    color: #fed307;
    font-size: large;
    font-weight: 500;
}

.topNavbar{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9fbxcY5lAIFMkpN35z4_1XNvfWIommTzgXvDaxFlrFZP1rcYK87oIDSyRCvd4_f-mAGg&usqp=CAU');
    padding: 1rem;
}

@media only screen and (min-width: 992px) {
    .left-menu{
        margin-right: 10rem;
    }
    
    .right-menu{
        margin-left: 10rem;
    }
}