// @import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: VelvendaChill;
    src: url(../fonts/VelvendaChill.ttf);
}

@font-face {
    font-family: FCSoundRounded;
    src: url(../fonts/FC-Sound-Rounded-[Non-commercial].ttf);
}

* {
    font-family: FCSoundRounded;
}

body {
    background-color: #652079;
}

.text-head {
    font-family: VelvendaChill;
}


.star {
    position: absolute;
}

.four-pointed-star {
    position: absolute;
    width: .1em;
    font-size: 1.5em;
    transform: rotate(40deg) scale(2);
    animation: StarEffect 4s ease infinite;
}

.four-pointed-star:before {
    content: "";
    position: absolute;
    background: #ffffff;
    width: .1em;
    height: .1em;
    transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
    box-shadow: #000000 0px 1px 4px, #000000 0px 0px 0px 1px;
}

.four-pointed-star:after {
    content: "";
    position: absolute;
    background: #ffffff;
    width: .1em;
    height: .1em;
    transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
    box-shadow: #000000 0px 1px 4px, #000000 0px 0px 0px 1px;
}


@keyframes StarEffect {

    0%,
    100% {
        filter: opacity(1) brightness(1.85) blur(0px);
    }

    50% {
        filter: opacity(0) brightness(0.5) blur(1px);
    }
}

.title-header {
    font-size: 50px;
    width: max-content;

    .n-active {
        color: #FFFFFF;
        text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;

    }

    .active {
        position: absolute;
        background: linear-gradient(#ee5441, #ee5441, #fed406, #009b4e, #009b4e);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }



}