.container{
    padding: 0 2rem;
    margin-top: 50px;
   
}
.bgbaner {
    justify-content: center;
    background-color: rgb(115, 179, 96);
    color: aliceblue;
    text-align: center;
    font-family: monospace;
    padding: 7%;
    font-size: 20px;
   
}
.card{
    margin: 1rem;
    text-align: left;
    border: 1px solid #eaeaea;
    max-width: 300px;
    
}
.cardimg {
    width: auto;
    height: auto;
    margin-top: 0em;
}
