// @import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: VelvendaChill;
    src: url(../fonts/VelvendaChill.ttf);
}

@font-face {
    font-family: FCSoundRounded;
    src: url(../fonts/FC-Sound-Rounded-[Non-commercial].ttf);
}

* {
    font-family: FCSoundRounded;
}

body {
    background-color: #9823ee;
}

.text-head {
    font-family: VelvendaChill;
}



.star-1 {
    top: 125px;
    left: 360px;
    transform: rotate(40deg) scale(2);
    animation: StarEffect 0.6s ease infinite;
}

@keyframes StarEffect {

    0%,
    100% {
        filter: opacity(1) brightness(1.85) blur(0.5px);
    }

    50% {
        filter: opacity(0) brightness(0.5) blur(1.5px);
    }
}