.container{
    padding: 0 2rem;
}
.bgbaner {
    min-height: 100vh;
    background-color: rgb(148, 3, 112);
    color: aliceblue;
    text-align: center;
    font-family: monospace;
    padding: 7%;
    font-size: 20px;
    margin-top: 215px;
   
}
.card{
    width: 18rem;
}
