.container{
    padding: 0 2rem;
    margin-top: 50px;
   
}
.bgbaner {
    justify-content: center;
    background-color: rgb(115, 179, 96);
    color: aliceblue;
    text-align: center;
    font-family: monospace;
    padding: 7%;
    font-size: 20px;
   
}
.card{
    width: 18rem;
}
.card.img {
    width: 100%;
    margin-top: 0em;
}