.Form{
    margin-top: 70px;
    display: flex;
    color: rgb(146, 218, 128);
    padding: 20px;
    margin-left: auto;
    font-family: sans-serif;
    font-size: 16px;
    
}

.btn{
    color: #927658;
    border-color: #9d6a32;
    background-color: #f8f5f0;
    padding: 50px;
    display: flex;
    margin-left: auto;
    font-family: sans-serif;
    font-size: 16px;

}