.container{
    padding: 0 2rem;
}
.bgbaner {
    background-color: rgb(85 155 15);
    color: aliceblue;
    text-align: center;
    font-family: monospace;
    padding: 7%;
    font-size: 20px;
    margin-top: 215px;
}
.card{
    width: 18rem;
}
.card.img {
    width: 100%;
    margin-top: 0em;
}